# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# Backend
backend/node_modules/
backend/.env

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Database backup
canteenwallet_backup.sql